<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Admin</h1>

<form class="navbar-form navbar-right" role="form">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Login Admin</button>
    <a href="http://localhost:63342/website/polls/templates/polls/login.html?_ijt=oju9sm9kqle06dr23hnqfe26do">¿New Admin?</a>
</form>

<h1>User</h1>

<form class="navbar-form navbar-right" role="form">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Login User</button>
    <a href="http://localhost:63342/website/polls/templates/polls/login.html?_ijt=oju9sm9kqle06dr23hnqfe26do">¿New User?</a>
</form>

    <br>
    <a href="http://localhost:63342/website/polls/templates/polls/base.html?_ijt=9h0e42lo3vpfje406cjvvng0jl"><-Home</a>

</body>
</html>