<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h2>  Admin </h2>
  <form method="post">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
  </form>

  <h2>  User </h2>
  <form method="post">
  <div class="form-group">
    <input type="text" placeholder="Email" class="form-control">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
  </form>

  <a href="http://localhost:63342/website/polls/templates/polls/base.html?_ijt=9h0e42lo3vpfje406cjvvng0jl"><-Home</a>

</body>
</html>